.bar {
  color: var(--fg);
  background-color: var(--bg);
  min-height: 34px;
  min-width: 37px;
  padding: 0 27px;

  .workspaces {
    padding: 3px;
    border-radius: 50rem;
    background-color: var(--bg-muted);

    .workspace {
      border-radius: 50rem;
      min-width: 21.5px;
      min-height: 21.5px;

      &.focused {
        color: var(--bg);
        background-color: var(--fg);
      }

      &.unfocused {
        color: var(--fg);
        background-color: var(--border);

        label {
          opacity: 0.5;
        }
      }
    }
  }

  .client label, .vpn .country {
    font-weight: bold;
  }

  .battery {
    color: var(--fg-inverse);
    margin-top: -1px;

    .symbols {
      color: var(--fg-inverse);
      font-weight: bold;
    }

    .level {
      border-radius: 50rem;
      min-width: 26px;
      min-height: 14px;
    }
  }

  .devices {
    .level {
      border-radius: 50rem;
      min-width: 14px;
      min-height: 3px;
    }

    .charging {
      text-shadow: 0 0 3px var(--bg-muted), 0 0 1px var(--bg-muted);
    }
  }

  .level {
    trough block.filled { background-color: var(--fg); }
    trough block.empty { background-color: var(--fg-muted); }
    &.warn trough block.filled { background-color: var(--danger); }
  }

  .weather {
    spinner {
      color: var(--fg);
      min-width: 10px;
      min-height: 10px;
    }
  }

  .nowplaying {
    &.blur-fade-in {
      animation: nowplaying-blur-in 1200ms ease-out both;
    }

    &.blur-fade-out {
      animation: nowplaying-blur-out 1200ms ease-in both;
    }

    &.blur-swap-in {
      animation: nowplaying-blur-in 600ms ease-in-out both;
    }

    &.blur-swap-out {
      animation: nowplaying-blur-out 600ms ease-in-out both;
    }

    .thumb-container, .thumbnail, .thumb-placeholder {
      min-width: 22px;
      min-height: 22px;
    }

    .thumbnail {
      background-size: cover;
      background-position: center;
      border-radius: 50rem;
      animation: nowplaying-spin 8s linear infinite;
      filter: var(--monochrome-icon);

      &.no-art {
        background-color: var(--fg);
      }
    }

    .thumb-placeholder {
      margin: 0;
      color: var(--bg);
      font-size: 11px;
      -gtk-icon-size: 11px;
    }

    .note {
      color: transparent;
      text-shadow: 0 0 0 var(--fg);
      font-size: 8px;
      animation: note-float 3s ease-out infinite;
    }
    .note-2 { animation-delay: 1s; }
  }

  &.transparent {
    --gradient-direction: to bottom;

    background: linear-gradient(
      var(--gradient-direction),
      var(--bar-tint) 0,
      transparent 34px
    );

    &.bottom { --gradient-direction: to top; }

    .workspaces, .workspace.unfocused {
      background-color: transparent;
    }
  }

  .menu {
    padding: 8px;

    .category {
      padding: 0 8px;
    }

    .divided {
      margin-top: 24px;
      padding-top: 18px;
      border-top: 1px solid var(--border);
    }

    button {
      padding: 3px 15px 3px 12px;
      border-radius: 10px;
      background-color: transparent;

      &:hover {
        background-color: var(--border);

        label, .symbols {
          color: var(--fg);
        }
      }
    }

    button.checked {
      background-color: var(--fg);

      label, .symbols {
        color: var(--bg);
      }
    }

    .secured, .band {
      color: var(--fg-muted);
    }

    .secured {
      margin: 2px 0 0 -4px;
    }

    button.scan {
      padding: 0 4px;

      spinner {
        color: var(--fg);
      }
    }

    scale {
      min-height: 14px;
      padding: 0;

      trough {
        min-height: 4px;
        border-radius: 50rem;
        background-color: var(--border);

        highlight {
          min-height: 6px;
          border-radius: 50rem;
          background-color: var(--fg);
        }

        slider {
          margin: -5px;
          min-width: 25.6px;
          min-height: 16px;
          border-radius: 50rem;
          background-color: var(--fg-subtle);
        }
      }
    }

    .sink > popover {
      padding: 0;
      background-color: transparent;

      > contents {
        padding: 8px;
        border-radius: 18px;
        color: var(--fg-inverse);
        background-color: var(--bg-inverse);
        box-shadow: 0 1px 5px 8px rgba(0, 0, 0, 0.225);
      }

      button {
        min-width: 275px;
        padding: 5px 14px;
        border-radius: 12px;

        &:hover {
          background-color: transparent;

          label {
            color: var(--fg-inverse);
          }
        }

        &.checked {
          background-color: var(--bg);

          label {
            color: var(--fg);
          }
        }
      }
    }
  }
}

@keyframes nowplaying-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes nowplaying-blur-in {
  from { filter: blur(8px); }
  to { filter: blur(0); }
}

@keyframes nowplaying-blur-out {
  from { filter: blur(0); }
  to { filter: blur(8px); }
}

@keyframes note-float {
  0% { transform: translate(2px, 0px); text-shadow: 0 0 0 var(--fg); opacity: 0; }
  10% { transform: translate(5px, -3px); text-shadow: 0 0 0 var(--fg); opacity: 0.25; }
  20% { transform: translate(9px, -7px); text-shadow: 0 0 0 var(--fg); opacity: 1; }
  60% { transform: translate(23px, -12px); text-shadow: 0 0 3px var(--fg); opacity: 0.7; }
  100% { transform: translate(33px, -11.5px); text-shadow: 0 0 12px var(--fg); opacity: 0; }
}
