.bar {
  color: var(--fg);
  background-color: var(--bg);
  min-height: 38px;
  min-width: 38px;
  padding: 0 28px;

  .client {
    label {
      font-family: 'Satoshi Variable';
      font-weight: bold;
    }
  }

  .vpn {
    .symbols {
      margin-top: -3px;
    }

    .country {
      margin-top: 6px;
      font-weight: bold;
    }
  }

  .battery {
    color: var(--fg-inverse);
    margin-top: -1px;

    .symbols {
      color: var(--fg-inverse);
      font-weight: bold;
    }

    .percentage {
      color: var(--fg-inverse);
      font-weight: bold;
    }

    .level {
      border-radius: 50rem;
      min-width: 27px;
      min-height: 15px;

      trough block.filled { background-color: var(--fg); }
      &.warn trough block.filled { background-color: var(--danger); }
      trough block.empty { background-color: var(--fg-muted); }
    }
  }

  .devices {
    .level {
      border-radius: 50rem;
      min-width: 15px;
      min-height: 4px;

      trough block.filled { background-color: var(--fg); }
      &.warn trough block.filled { background-color: var(--danger); }
      trough block.empty { background-color: var(--fg-muted); }
    }

    .battery {
      color: var(--bg-inverse);
    }

    .charging {
      text-shadow: 0 0 3px var(--bg-muted), 0 0 1px var(--bg-muted);
    }
  }
}
