:root {
  --danger: #ff3434;
  --monochrome-icon: grayscale(99.99%) brightness(1.001) contrast(1.125) brightness(1.125);

  --font-xs: 6.75px;
  --font-sm: 8.55px;
  --font-base: 10.75px;
  --font-lg: 13.45px;
  --font-xl: 16.75px;
  --font-2xl: 20.75px;
}

* {
  all: unset;
}

label, entry {
  font-family: 'Lexend Deca';
  font-weight: 800;
}

tooltip, popover {
  color: var(--fg);
  background-color: var(--bg);
}

tooltip {
  padding: 4px 12px;
  border-radius: 50rem;
  border: 1px solid var(--border);

  label {
    font-size: 11px;
    font-weight: 600;
  }
}

popover {
  border-radius: 18px;
  padding: 8px;
}

switch {
  min-width: 25px;
  min-height: 15px;
  border-radius: 50rem;
  background-color: var(--border);
  transition: background-color 150ms ease;

  > slider {
    margin: 2px 1px;
    min-width: 8px;
    min-height: 10px;
    border-radius: 50rem;
    background-color: var(--fg-muted);
  }

  &:checked {
    background-color: var(--fg);

    > slider {
      background-color: var(--bg);
    }
  }

  image {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    -gtk-icon-size: 0;
  }
}

.tabular {
  font-feature-settings: 'tnum' 1;
}

.error {
  color: var(--danger-fg);
  background-color: var(--danger-bg);

  label, .symbols {
    color: inherit;
  }
}

.symbols {
  margin-top: 1px;
  color: var(--fg);
  font-family: "Material Symbols Rounded";
  font-weight: 600;

  &.filled {
    font-variation-settings: 'FILL' 1;
  }
}

.symbols-xs { font-size: var(--font-xs); -gtk-icon-size: var(--font-xs); }
.symbols-sm { font-size: var(--font-sm); -gtk-icon-size: var(--font-sm); }
.symbols-base { font-size: var(--font-base); -gtk-icon-size: var(--font-base); }
.symbols-lg { font-size: var(--font-lg); -gtk-icon-size: var(--font-lg); }
.symbols-xl { font-size: var(--font-xl); -gtk-icon-size: var(--font-xl); }
.symbols-2xl { font-size: var(--font-2xl); -gtk-icon-size: var(--font-2xl); }

.text-xs { font-size: var(--font-xs); }
.text-sm { font-size: var(--font-sm); }
.text-base { font-size: var(--font-base); }
.text-lg { font-size: var(--font-lg); }
