.dock-layer {
  background: transparent;
}

.dock {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 50rem;
  padding: 5px 13px;

  .icon {
    -gtk-icon-size: 27px;
    border-radius: 50rem;
    min-width: 27px;
    min-height: 27px;
    filter: var(--monochrome-icon);
  }
}
