.launcher {
  .content {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    min-width: 749px;
    min-height: 449px;
  }

  .search {
    padding: 0 27px;

    entry {
      caret-color: var(--accent);
      padding: 15px 0;

      text {
        color: var(--fg);

        placeholder { color: var(--border-muted); }
      }

      selection {
        color: var(--fg);
        background-color: var(--border-muted);
      }
    }
  }

  .item {
    border-radius: 12px;
    margin: 0 18px;
    padding: 9px 29px;
    color: var(--fg);
    background-color: var(--bg);
    filter: grayscale(99.99%)
      brightness(1.001)
      contrast(1.125)
      brightness(1.125);

    image.icon { filter: drop-shadow(0 0 2px var(--fg-subtle)); }

    &:focus {
      color: var(--fg-inverse);
      background-color: var(--bg-inverse);

      image.icon { filter: drop-shadow(0 0 2px var(--border)); }
    }
  }
}
