.launcher {
  .content {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    min-width: 750px;
    min-height: 450px;
  }

  .search {
    padding: 0 28px;

    entry {
      padding: 16px 0;

      text {
        color: var(--fg);

        placeholder { color: var(--border-muted); }
      }
    }
  }

  .item {
    border-radius: 12px;
    margin: 0 18px;
    padding: 10px 30px;
    color: var(--fg);
    background-color: var(--bg);
    filter: grayscale(99.99%)
      brightness(1.001)
      contrast(1.125)
      brightness(1.125);

    image { -gtk-icon-shadow: 0 0 2px var(--fg-subtle); }

    &:focus {
      color: var(--fg-inverse);
      background-color: var(--bg-inverse);

      image { -gtk-icon-shadow: 0 0 2px var(--border); }
    }
  }
}
