.notification {
  background-color: transparent;

  .item {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 11px 13px;
    min-width: 279px;
    margin: 6px;

    .icon {
      -gtk-icon-size: 27px;
      min-width: 27px;
      min-height: 27px;
      filter: grayscale(99.99%)
        brightness(1.001)
        contrast(1.125)
        brightness(1.125);
    }

    .summary {
      font-weight: 800;
    }

    .body {
      color: var(--fg-subtle);
    }

    .close {
      padding: 1px;
      border-radius: 50rem;

      &:hover {
        background-color: var(--bg-muted);
      }
    }

    .action {
      padding: 5px 11px;
      border-radius: 8px;
      border: 1px solid var(--border);

      &:hover {
        background-color: var(--bg-muted);
      }
    }
  }
}
