.notification {
  background-color: transparent;

  .item {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 12px 14px;
    min-width: 280px;
    margin: 6px;

    .icon {
      -gtk-icon-size: 28px;
      min-width: 28px;
      min-height: 28px;
      filter: grayscale(99.99%)
        brightness(1.001)
        contrast(1.125)
        brightness(1.125);
    }

    .summary {
      font-weight: 800;
    }

    .body {
      color: var(--fg-subtle);
    }

    .close {
      padding: 2px;
      border-radius: 50rem;

      &:hover {
        background-color: var(--bg-muted);
      }
    }

    .action {
      padding: 6px 12px;
      border-radius: 8px;
      border: 1px solid var(--border);

      &:hover {
        background-color: var(--bg-muted);
      }
    }
  }
}
