.osd {
  background-color: transparent;
  margin-bottom: -1px;

  .content {
    background-color: var(--bg);
    border: 1px solid var(--border);
    min-width: 190px;
    min-height: 38.5px;
    border-radius: 50rem;
    margin-bottom: 50px;
  }

  .volume {
    padding: 0 20px 0 15px;

    levelbar {
      min-width: 114px;
      min-height: 4px;

      trough block {
        border-radius: 50rem;

        &.filled { background-color: var(--fg); }
        &.empty { background-color: var(--fg-muted); }
      }
    }
  }

  .gamemode, .keylock, .bluetooth { padding: 0 20px 0 15px; }
}
